body {
  background-color: rgb(241, 145, 145);
  background-image: url('http://res.freestockphotos.biz/pictures/10/10141-three-cows-grazing-in-a-pasture-pv.jpg');
  background-blend-mode: difference;
  font-size: 24px;
  font-family: papyrus;
  color: rgb(133, 236, 236);
}

pre {
  font-size: 18px;
  font-weight: bold;
}